body {
  background: #f3f3f3;
  font-weight: 400;
  font-size: 20px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

#headerOne {
  position: relative;
  width: 722px;
  height: 228px;

  font-family: Rufina;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 99px;
  text-align: center;

  color: #000000;

  position: relative;
  width: 374px;
  height: 130px;

  background: #f3f3f3;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  top: 50%;
}
img {
  background: #d1c9c9;
  border: 3px solid #f3f3f3;
  box-sizing: border-box;
  width: 90%;
  height: 20%;

  position: absolute;
  width: 50%;
  height: 58%;
  top: 6%;
  z-index: -1;
  left: 25%;
}
#clickTitle {
  position: clips;
  width: 124px;
  height: 16px;
  top: 20%;

  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;

  position: clips;
  width: 136px;
  height: 23px;

  background: #5a5858;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}
.cipherButtons {
  background-color: #8ab194;
  border-radius: 15px;
  border: 1px solid #6ca773;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 12px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
blockquote {
  position: relative;
  width: 737px;
  height: 119px;

  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  color: #000000;
}

h2 {
  width: 200px;
  height: 100px;

  background: #ffffff;

  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

textarea {
  height: 250px;
  max-width: 500px;

  color: #999;
  font-weight: 400;
  font-size: 30px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  width: 100%;

  background: #fff;
  border-radius: 3px;
  line-height: 2em;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 30px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
}

.orderedList {
  text-align: center;
  list-style-position: inside;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

#noInput {
  font-weight: 400;
  font-size: 20px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: crimson;
}

ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;
}

/* List element */
li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(3, 3, 3, 0.2);
}

#Cipher {
  background-color: #6f7872;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 18px 26px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
#Cipher:hover {
  background-color: #9ea19f;
}
#Cipher:active {
  position: relative;
  top: 1px;
}

#Decipher {
  background-color: #6f7872;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 18px 26px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
#Decipher:hover {
  background-color: #9ea19f;
}
#Decipher:active {
  position: relative;
  top: 1px;
}
